*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
*.apk
!apk/*.apk
*.ap_
*.aab
*.dex
*.class
.kotlin
app/release
*.jks
*.keystore
.cxx
.navigation
/core/out
/app/out
